{% extends 'musicbeats2/basicPage.html' %}
{% block title %} Upload {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>message:</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
 
<h2 style="text-align:center; padding-top: 2%; color:rgb(221, 172, 9);">Upload Your Music</h2>

<div class="container my-3; col-md-6">
  <form action="/musicbeats2/upload" enctype="multipart/form-data" method="POST">{% csrf_token %} 
      <div class="mb-3">
        <label for="exampleInputEmail1"  style="font-weight:700; font-family:cursive; color:whitesmoke">Music</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" placeholder="Your Song Name">
      </div>
      

      <div class="mb-3">
          <label for="exampleInputEmail1"  style="font-weight:700; font-family:cursive; color:whitesmoke">Singer</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="singer" placeholder="Singer Name">
        </div>


        <div class="mb-3">
          <label for="exampleInputEmail1" style="font-weight:700; font-family:cursive; color:whitesmoke">Genre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="genre" placeholder="Tags (Seperate By Commas)">
        </div>


       <!--<div class="mb-3">
          <label for="exampleInputEmail1">Image Link: (Associated With Your Music)</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="image" placeholder="Link to Image">
        </div>-->


      <div class="mb-3">
        <label for="exampleInputPassword1" style="font-weight:700; font-family:cursive; color:whitesmoke">Movie</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="movie">
      </div>

      <!--<div class="mb-3">
          <label for="exampleInputPassword1">Credit</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Add Credit Link" name="credit">
        </div>-->
      
      <div class="mb-3">
          <label for="exampleFormControlFile1"  style="font-weight:700; font-family:cursive; color:whitesmoke"> Song Image </label>
          <input type="file" class="form-control" id="exampleFormControlFile1" name="image">
       </div>

      <div class="form-group">
          <label for="exampleFormControlFile1"  style="font-weight:700; font-family:cursive; color:whitesmoke"> Song Mp3_File </label>
          <input type="file" class="form-control" id="exampleFormControlFile1" name="file">
       </div>
      
      <div style="padding-top: 3%; padding-bottom: 3%;">
          <button type="submit" class="btn btn-primary">Upload Song</button>
      </div>
      {{form|crispy}}
    </form>
  </div>
{% endblock %}